@font-face {
    font-family: 'Lobster';
    src: url('../resources/fonts/Lobster-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../resources/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(54, 100%, 96%);
}

#top-bar {
    background-color: hsl(37, 80%, 50%);
    height: min(8em,14vw);
    width: 100%;
    margin-bottom: min(2em,2.5vw);
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 42% 42%;
    column-gap: 10%; 
    justify-content: center;
}

h1 {
    color: white;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: min(4em,4vw);
    align-self: center;
}

#melody-title {
    grid-row: 1 / 1;
    grid-column: 1 / 2;
    justify-self: center;
}

#title-bar {
    width: 4px;
    background-color: white;
    height: 75%;
    grid-row: 1 / 1;
    grid-column: 1 / 3;
    align-self: center;
    justify-self: center;
    z-index: 2;
}

#generator-title {
    grid-row: 1 / 1;
    grid-column: 2 / 3;
    justify-self: center;
}

#piano-container {
    width: 100%;
    padding: 0 25px;
    height: 150px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat( 52, minmax(40px, 1fr));
    overflow-x: scroll;
}

.white-key {
    height: 100%;
    width: 100%;
    background-color: white;
    border: 2px solid rgb(37, 37, 37);
    border-radius: 4px;
    grid-row: 1 / 2;
    z-index: 1;
    display: flex;
}

.white-key h3 {
    color: rgb(37, 37, 37);
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: min(1em,3vw);
    font-weight: 500;
    align-self: end;
    margin: 0 auto;
    padding-bottom: 10px;
}

.black-key {
    height: 60%;
    width: 40%;
    background-color: rgb(37, 37, 37);
    border: 2px solid rgb(37, 37, 37);
    border-radius: 4px;
    grid-row: 1 / 2;
    justify-self: center;
    z-index: 2;
    display: flex;
}

.black-key h3 {
    color: white;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: min(.7em,2.5vw);
    font-weight: 500;
    align-self: end;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* White Keys */
#A0 {
    grid-column: 1 / 2;
}

#B0 {
    grid-column: 2 / 3;
}
#C1 {
    grid-column: 3 / 4;
}
#D1 {
    grid-column: 4 / 5;
}
#E1 {
    grid-column: 5 / 6;
}
#F1 {
    grid-column: 6 / 7;
}
#G1 {
    grid-column: 7 / 8;
}
#A1 {
    grid-column: 8 / 9;
}
#B1 {
    grid-column: 9 / 10;
}
#C2 {
    grid-column: 10 / 11;
}
#D2 {
    grid-column: 11 / 12;
}
#E2 {
    grid-column: 12 / 13;
}
#F2 {
    grid-column: 13 / 14;
}
#G2 {
    grid-column: 14 / 15;
}
#A2 {
    grid-column: 15 / 16;
}
#B2 {
    grid-column: 16 / 17;
}
#C3 {
    grid-column: 17 / 18;
}
#D3 {
    grid-column: 18 / 19;
}
#E3 {
    grid-column: 19 / 20;
}
#F3 {
    grid-column: 20 / 21;
}
#G3 {
    grid-column: 21 / 22;
}
#A3 {
    grid-column: 22 / 23;
}
#B3 {
    grid-column: 23 / 24;
}
#C4 {
    grid-column: 24 / 25;
}
#D4 {
    grid-column: 25 / 26;
}
#E4 {
    grid-column: 26 / 27;
}
#F4 {
    grid-column: 27 / 28;
}
#G4 {
    grid-column: 28 / 29;
}
#A4 {
    grid-column: 29 / 30;
}
#B4 {
    grid-column: 30 / 31;
}
#C5 {
    grid-column: 31 / 32;
}
#D5 {
    grid-column: 32 / 33;
}
#E5 {
    grid-column: 33 / 34;
}
#F5 {
    grid-column: 34 / 35;
}
#G5 {
    grid-column: 35 / 36;
}
#A5 {
    grid-column: 36 / 37;
}
#B5 {
    grid-column: 37 / 38;
}
#C6 {
    grid-column: 38 / 39;
}
#D6 {
    grid-column: 39 / 40;
}
#E6 {
    grid-column: 40 / 41;
}
#F6 {
    grid-column: 41 / 42;
}
#G6 {
    grid-column: 42 / 43;
}
#A6 {
    grid-column: 43 / 44;
}
#B6 {
    grid-column: 44 / 45;
}
#C7 {
    grid-column: 45 / 46;
}
#D7 {
    grid-column: 46 / 47;
}
#E7 {
    grid-column: 47 / 48;
}
#F7 {
    grid-column: 48 / 49;
}
#G7 {
    grid-column: 49 / 50;
}
#A7 {
    grid-column: 50 / 51;
}
#B7 {
    grid-column: 51 / 52;
}
#C8 {
    grid-column: 52 / 53;
}
#Db8 {
    grid-column: 53 / 54;
}

/* Black Keys */
#Bb0 {
    grid-column: 1 / 3;
}
#Db1 {
    grid-column: 3 / 5;
}
#Eb1 {
    grid-column: 4 / 6;
}
#Gb1 {
    grid-column: 6 / 8;
}
#Ab1 {
    grid-column: 7 / 9;
}
#Bb1 {
    grid-column: 8 / 10;
}
#Db2 {
    grid-column: 10 / 12;
}
#Eb2 {
    grid-column: 11 / 13;
}
#Gb2 {
    grid-column: 13 / 15;
}
#Ab2 {
    grid-column: 14 / 16;
}
#Bb2 {
    grid-column: 15 / 17;
}
#Db3 {
    grid-column: 17 / 19;
}
#Eb3 {
    grid-column: 18 / 20;
}
#Gb3 {
    grid-column: 20 / 22;
}
#Ab3 {
    grid-column: 21 / 23;
}
#Bb3 {
    grid-column: 22 / 24;
}
#Db4 {
    grid-column: 24 / 26;
}
#Eb4 {
    grid-column: 25 / 27;
}
#Gb4 {
    grid-column: 27 / 29;
}
#Ab4 {
    grid-column: 28 / 30;
}
#Bb4 {
    grid-column: 29 / 31;
}
#Db5 {
    grid-column: 31 / 33;
}
#Eb5 {
    grid-column: 32 / 34;
}
#Gb5 {
    grid-column: 34 / 36;
}
#Ab5 {
    grid-column: 35 / 37;
}
#Bb5 {
    grid-column: 36 / 38;
}
#Db6 {
    grid-column: 38 / 40;
}
#Eb6 {
    grid-column: 39 / 41;
}
#Gb6 {
    grid-column: 41 / 43;
}
#Ab6 {
    grid-column: 42 / 44;
}
#Bb6 {
    grid-column: 43 / 45;
}
#Db7 {
    grid-column: 45 / 47;
}
#Eb7 {
    grid-column: 46 / 48;
}
#Gb7 {
    grid-column: 48 / 50;
}
#Ab7 {
    grid-column: 49 / 51;
}
#Bb7 {
    grid-column: 50 / 52;
}

h2 {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: max(2vw, 1em);
    font-weight: 400;
    color: black;
    padding-top: 20px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

#settings-bar {
    display: grid;
    padding: 5vw;
    grid-template-rows: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4vw;
}

#lowest-note-box, #highest-note-box {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 100%;
    grid-gap: 5px;
}

#notes-num-box, #max-step-box {
    display: grid;
    grid-template-rows: 1fr 1fr 1.8fr;
    grid-template-columns: 100%;
    padding-bottom: 25px;
    row-gap: 4px;
}

#bpm-box {
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    grid-template-columns: 100%;
    row-gap: 5px;
    justify-self: start;
    align-self: center;
}

label {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: max(2vw, 1em);
    font-weight: bold;
    color:hsl(37, 80%, 50%);
    justify-self: center;
    align-self: center;
}

#bpm-label {
    font-size: max(2vw, 1em);
}

option {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: max(1.5vw, 1em);
}

p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: max(1.5vw, 1em);
    font-weight: bold;
    color: rgb(230, 151, 25);
    justify-self: center;
}

input[type="range"] {
    align-self: start;
}

#buttons-container {
    width: 100%;
    height: 6em;
    margin-bottom: 150px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10vw;
}

button {
    height: max(3em, 3vw);
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: max(2vw, 1em);
    font-weight: bold;
    background-color: hsl(37, 80%, 50%);
    color: white;
    border-radius: max(3vw, 3em);
    border: none;
    padding: max(1em, .2vw) 5vw;
    cursor: pointer;
    max-height: 5em;
    display: flex;
}

button h4 {
    align-self: center;
}

#generate-button {
    grid-column: 1 / 2;
    justify-self: end;
    align-self: center;
}

#play-button {
    grid-column: 2 / 3;
    justify-self: end;
    align-self: center;
}

#bpm {
    width: max(70%, 30px);
    max-height: 50px;
    justify-self: center;
    text-align: center;
    font-size: max(2vw, 1em);
}

/*custom range input*/
/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
  }
  
  /* Removes default focus */
  input[type="range"]:focus {
    outline: none;
  }
  
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #d1d1d1;
    border-radius: 0.5rem;
    height: 0.5rem;
  }
  
  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -6px; /* Centers thumb on the track */
    background-color: #e69719;
    box-shadow: none;
    border-radius: 1.25rem;
    height: 1.25rem;
    width: 1.25rem;
  }
  
  input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #e69719;
    outline-offset: 0.125rem;
  }
  
  /*********** Firefox styles ***********/
  /* slider track */
  input[type="range"]::-moz-range-track {
    background-color: #d1d1d1;
    border-radius: 0.5rem;
    height: 0.5rem;
  }
  
  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
    background-color: #e69719;
    box-shadow: none;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 1.25rem;
    height: 1.25rem;
    width: 1.25rem;
  }
  
  input[type="range"]:focus::-moz-range-thumb{
    outline: 3px solid #e69719;
    outline-offset: 0.125rem;
  }

@media (max-width: 680px) {
    #top-bar {
        width: 100%;
        height: 20vw;
        grid-template-rows: repeat(2, calc(20vw / 2));
        grid-template-columns: 100%;
        justify-content: center;
        box-sizing: border-box;
    }
    
    h1 {
        font-size: min(4em,6vw);
    }

    #melody-title {
        grid-row: 1 / 2;
        grid-column: 1 / 1;
    }

    #title-bar {
        width: 75%;
        background-color: white;
        height: 3px;
        grid-row: 1 / 3;
        grid-column: 1 / 1;
        align-self: center;
        justify-self: center;
        z-index: 2;
    }

    #generator-title {
        grid-row: 2 / 3;
        grid-column: 1 / 1;
    }

    h2 {
        width: 90%;
        font-size: max(3vw, .5em);
    }

    #settings-bar {
        display: grid;
        padding: 5vw;
        grid-template-rows: 1.2fr 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4vw;
    }

    #lowest-note-box, #highest-note-box {
        display: grid;
        grid-template-rows: 1fr 2fr;
    }

    #notes-num-box {
        width: 70%;
        padding-bottom: 0px;
        grid-row: 2 / 3;
        grid-column: 1 / span 2;
        justify-self: center;
    }

    #max-step-box {
        width: 70%;
        padding-bottom: 0px;
        grid-row: 3 / 4;
        grid-column: 1 / span 2;
        justify-self: center;
    }

    #bpm-box {
        grid-template-rows: 1fr 2fr;
    }

    #buttons-container {
        column-gap: 5vw;
        grid-template-columns: 30% 30% 20%;
        justify-content: center;
    }

    #bpm-label {
        font-size: max(2.5vw, .6em);
    }

    #bpm {
        width: max(70%, 30px);
        max-height: 50px;
    }
}

@media (hover: hover) {
    .white-key:hover, .black-key:hover {
        background-color: hsl(0, 0%, 57%);
        cursor: pointer;
    }

}